name: Playwright Tests
on:
  push:
    branches:
     - '**'
  pull_request:
    branches: [ main]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

     
      - name: Run Playwright tests
        run: npx playwright test
        continue-on-error: true # to complete the job even if tests fail

      - name: Generate Allure Report
        if: always() # يشتغل في كل الحالات
        run: |
          npx allure generate allure-results --clean -o allure-report

      # 3.upload the Allure report to GitHub Actions artifacts
      - name: Upload Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report-artifact # the file name in the artifacts
          path: allure-report/        # the path to the report folder
          retention-days: 30